/* Import pywal generated colorscheme */
@import "../../.cache/wal/colors-waybar.css";

* {
border: none;
font-family: "JetBrainsMono Nerd Font";
font-weight: bold;
font-size: 14px;
}

window#waybar {
   background: alpha(@background, 0.3);
/*   background-color: rgba(30, 30, 46, 0.5); */
   border-radius: 0px;
}

window#waybar.empty #window {
  background-color:transparent;
}

#window {
padding-left: 10px;
padding-right: 10px;
border-radius: 0px;
transition: none;
background: alpha(@background, 0.1);
color: lighter(@color7);
}

tooltip {
  background: @color7;
  color: @color0;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @color6;
}

tooltip label {
  font-size: 14px;
  font-weight: bold;
  color: @color0;
}

#workspaces {
margin: 0px 5px 0px 5px;
border-radius: 10px;
transition: none;
padding-left: 0px;
padding-right: 0px;
background: @color7;
}

/* Inactive workspace */
#workspaces button {
transition: none;
color: @color8;
background: transparent;
}

#workspaces button.persistent {
transition: none;
/* color: #aca1cf; */
background: transparent;
}

#workspaces button.empty {
transition: none;
color: @color8;
background: transparent;
}

#workspaces button.active {
transition: none;
color: @color0;
background: transparent;
}

#temperature,
#pulseaudio,
#network,
#clock {
transition: none;
font-weight: bold;
padding-left: 10px;
padding-right: 10px;
border-radius: 10px;
color: @background;
background: @color7;
}

#temperature.critical {
color: #ff0000;
padding-left: 10px;
padding-right: 10px;
}

#tray {
padding-left: 10px;
padding-right: 10px;
border-radius: 20px;
transition: none;
font-weight: bold;
color: @background;
background: transparent;
}

#custom-power {
margin: 0px 5px 0px 0px;
padding-left: 10px;
padding-right: 14px;
border-radius: 10px;
transition: none;
font-weight: bold;
color: @background;
background: @color7;
}
